{% extends "basic_model/panel_basic.html" %}

{% block title %} todo for panel {% endblock %}
{% block head %}
  {{ parent() }}
  <link rel="stylesheet" href="/assets/css/panel/todo.css">
{% endblock %}

{% block content %}
<div class="todo_form">
  <div class="todo_title"><span>Set todo for you</span></div>
    <form action="/todo/update" method="post">
      <div class="inp_line"><input type="text" name="todo" value="{{ todo }}" required placeholder="set your todo"></div>
      <input type="hidden" name="id" value="{{ id }}" required>
      <div class="inp_btn"><button type="submit">Submit</button></div>
      <div class="form_error" style="margin-top: 20px;"><span>{{ error }}</span></div>
    </form>
  </div>
</div>
{% endblock %}