{% extends "basic_model/basic.html" %}

{% block title %} Accountancy website {% endblock %}
{% block head %}
  {{ parent() }}
  <link rel="stylesheet" href="/assets/css/auth/auth.css">
{% endblock %}

{% block content %}
<div class="login_form">
  <div class="login_form_title">Login our system</div>
  <form action="" method="post">
    <div class="inp_line"><input type="email" name="email" placeholder="email" required></div>
    <div class="inp_line" id="pass">
      <input type="password" name="password" placeholder="password" required>
      <div class="show"><i class="fa-regular fa-eye"></i></div>
    </div>
    <div class="inp_btn">
      <button>Login</button>
      <a href="/auth/register">Create an account</a>
    </div>
    <div class="login_error">
      <span>{{ error }}</span>
    </div>
  </form>
</div>
<script src="/assets/js/auth.js"></script>
{% endblock %}